@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.title {
    text-align: center;
    font-size: 3rem;
    height: 100px;
}

.description {
    text-align: center;
    font-size: 1rem;
    height: 1px;
}

.full-height {
    height: 100vh; /* Set the height to 100% of the viewport height */
}

/* blog setting */
.prose {
    @apply max-w-none;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    @apply font-bold my-6 text-pink-600;
}

.prose p {
    @apply my-4 text-gray-700;
}

.prose ul,
.prose ol {
    @apply my-4 pl-8;
}

.prose li {
    @apply my-2;
}

.prose a {
    @apply text-pink-600 hover:text-pink-800 underline;
}

.prose blockquote {
    @apply border-l-4 border-pink-300 pl-4 italic my-4;
}

.prose code {
    @apply bg-pink-50 text-pink-700 px-1 py-0.5 rounded;
}

.prose pre {
    @apply bg-gray-800 text-white p-4 rounded-lg overflow-x-auto;
}
